body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 28px;
}

.wrapper {
    width: 100%;
    height: auto;
}

.wrapper .header {
    width: 100%;
    float: left;
    background-color: #C4C4C4;
}


.menu {
    display: block;
    list-style: none;
    margin-top: -56px;
    margin-left:850px;
}

.menu li {
    float: left;
    margin-left: 40px;
    color:white;
    font-size: 24px;
    vertical-align: middle;
}
.menu li a {
    text-decoration: none;
    list-style: none;
    color:black;
}
input[type=search] {
    padding:5px;
    display: inline-block;
    margin-left:100px;
    margin-top: -40px;
}
input[type=submit] {
    color:black;
    padding:10px;
}
button{
    color: black;
    padding:10px;
}
.content {
    width:100%;
}
.sl_ctr{
    position:relative;
    width:100%;
    height:300px;
    overflow:hidden;
    background-color: #494949;
    }
    .sldr{
    position:relative;
    }
    .sldr img{
    float:left;
    }
    .prv_b, .nxt_b{
    position:absolute;
    top:135px;
    display:block;
    width:35px;
    height:35px;
    cursor:pointer;
    background-color: #494949;
    }
    .prv_b{
    left:10px;
    }
    .nxt_b{
    right:10px;
    }
.items {
    width: 100%;
    float: left;
    padding:50px;
}

.item {
    float: left;
    margin-left:184px;
}
.feedback {
    float:left;
    width:100%;
    padding:100px;
    background-color: #A89E9E;
    text-align: center;
}
.feedback input[type=text] {
    width:410px;
    height: 63px;
    margin-top:15px;
}
.footer {
    float:left;
    width:100%;
    background-color: #c4c4c4;
}
.footer .left{
    float:left;
}
.footer .center{
    text-align: center;
    margin-top:20px;
}
.footer .right {
    float: right;
}

/*Галерея*/

.cssSlider {
	display: block;
	position: relative;
	width: 100%;
    overflow: hidden;
    border:1px solid silver;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 30%;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}